@model project5_6.Models.Wishlist

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Wishlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user_id" class="control-label"></label>
                <input asp-for="user_id" class="form-control" />
                <span asp-validation-for="user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_id" class="control-label"></label>
                <input asp-for="product_id" class="form-control" />
                <span asp-validation-for="product_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brand" class="control-label"></label>
                <input asp-for="brand" class="form-control" />
                <span asp-validation-for="brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="model_name" class="control-label"></label>
                <input asp-for="model_name" class="form-control" />
                <span asp-validation-for="model_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
