
@{ViewData["Title"] = "Clicked";}
@model IEnumerable<Model.Product>

<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

<h1>testing</h1>

<div class="col-md-4">
			<img src="~/images/1.jpg" class="img-responsive">
			<br>
			<br>
</div>